*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.item img{
    width: 100%;
    object-fit: cover;
}

.item{
    display: none;
    width: 100%;
    height: 100%;
}

.item.active{
    display: block;
}

.thumb{
    height: calc((300px) / 5);
    opacity: 0.5;
}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active{
    opacity: 1;
    border: 3px solid greenyellow;
}

.funzioni{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-content: flex-end;
}

.fa-solid{
    font-size: 2rem;
}

.prev,
.next{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
